.nav_bar {
  display: flex;
  flex-direction: row;
  background-color: #0a0b0a;
}

.nav_tag {
  color: white;
  padding: 15px;
  text-decoration: none;
}

.nav_tag:hover {
  color: #ADD8E6;
  padding: 15px;
}
